@import '../../index.scss';

.dish {
    &__add-form{
        @extend %flex-center-80;
    };
    &__card{
        margin-top: 5%;
    };
    &__card-discription{
        display: flex;
        align-items: center;
        justify-content: space-between;

        >:first-child{
            width: 90%;
        }

        div {
            word-break: break-all;
        }
    };
    &__weight-info {
        width: 10%;
        display: flex;
        flex-direction: column;
        
        div {
            text-align: end;
        }
    }
    
}